<div class="container p-14">
  
    <div class="row">
      <div class="col-md-8 offset -md -2">
        <img src="./assets/logoap.fw.png">
        <div class="card">
             <h1 class="card-header">Agregue link</h1>
                 <form class="card-body">
                   <label for="title"> Titulo:</label>
                   <input type="text" name="title" placeholder="title" #title class="form-control" [autofocus]="" >
                   <label for="link"> Link:</label>                   
                   <input type="text" name="link" placeholder="link" #link class="form-control" >
                   <button (click)= "agregarEnlace(title,link)" class="btn btn-primary btn-block mt-4" >Enviar el link</button>
                 </form>
        </div>
      </div>
    </div>

<div class="col -md-8 offset -md -2">
    <div class="card text-center">
        <div class="card-header"><a href="http://angular.io" target="_blank">Angular</a></div>
        <div class="card-body"><h1 class="display-4">Este es tu contenido</h1></div>
        <div class="card-footer">
              <button  class="btn btn-primary"> UP </button>
              <button class="btn btn-danger"> Down </button>
        </div>
    </div>
</div>

