<nav class="navbar navbar-dark bg-primary">
  <a href ="/" class="navbar-brand">Angular AProgramar</a></nav>
  <div class="container p-14">
    <div class="row">
      <div class="col-md-8 offset -md -2">
        <img src="./assets/logoap.fw.png">
        <div class="card"></div>
    <form class="card-body">
    <label>Usuario:
      <input > 
  </label>
  <br>
  <label>Password:
    <input type="password">
  </label>
 
  <br>
  <button>Login</button>
</form>
<div class="row"> 
  <app-link></app-link>
</div> 
  </div>
</div>
</div>

